
:root {
    --white: #fbfbfb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(0, 200, 200);
}










header {
    position: sticky;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 2rem;
    background-color: var(--white);
}

    nav {
        
    }

    #nav-list {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: space-between;
        list-style: none;
    }

        .nav-list-items {
            margin-left: 2rem;
            margin-right: 2rem;
        }

    #title {
        font-size: 2.5rem;
    }

    address {
        font-size: 1.2rem;
    }











main {
    background-color: #333;
    color: var(--white);
    border: solid 0.2rem var(--white);
    border-radius: 1rem;
    padding: 2rem;
    margin: 3rem 8rem 3rem 8rem;
}

    #skills-section {
        background-color: #333;
        color: var(--white);
        border: solid 0.2rem var(--white);
        border-radius: 1rem;
        padding: 2rem;
    }

        #skills-title {
            font-size: 3rem;
        }

        #skills-list {

        }